<%- include('../../partials/head') %>
<%- include('../../partials/navbar') %>
<div class="container text-center p-4">
    <h2>Edit Apartment</h2>
    <%- include('../forms/apartment') %>
</div>
<%- include('../../partials/footer') %>
