  <nav class="navbar" id="social">
    <div class="hide-md-lg">
    <a href="#" class='fab fa-linkedin-in'></a>
    <a href="#" class='fab fa-instagram'></a>
    <a href="#" class='fab fa-twitter'></a>
    <a href="#" class='fab fa-facebook-f'></a>
    <a href="mailto:revrentalsmtl@gmail.com?Subject=Hello%20again" class='far fa-envelope'"> revrentalsmtl@gmail.com</a>
    <a class='fas fa-phone-volume' href="tel:(514) 545-2172">(514) 545-2172</a>
    <div class="navbar-header">
      
<% req.current_home = req.current_home || {} %>
      <a href="menu" class="navbar-left" >
        <img src="<%= req.current_home.logo_uri || "/public/images/logos/Rev-Rentals-logo-page-001.jpg" %>">
      </a>
    </div>
     <li class="navbar-nav navbar-left"><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
   </div>
  </nav>
