<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/menu">
        <img src="<%= req.current_home.logo_uri %>">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-navbar-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		 Forms <span class="caret"></span>
	  </a>
          <ul class="dropdown-menu">
            <li><a href="public/assets/forms/Revrentals Rental Application Form (English).jpg">1.Revrentals Rental Application Form (English)</a></li>
            <li><a href="public/assets/forms/Revrentals Demande de location (Francais).jpg">2.Revrentals Demande de location (Français)</a></li>
            <li><a href="public/assets/forms/Oligny Thibodeau PRE-RENTAL application form(English).jpg">3.Oligny Thibodeau PRE-RENTAL application form(English)</a></li>
            <li><a href="public/assets/forms/Oligny Thibodeau application de Pre location(Francais).jpg">4.Oligny Thibodeau application de Pre location(Français)</a></li>
            <li><a href="public/assets/forms/CORPIQ Building Regulations (English).jpg">5.CORPIQ Building Regulations (English)</a></li>
            <li><a href="public/assets/forms/CORPIQ Règlements de immeubles (Français).jpg">6.CORPIQ Règlements de immeubles (Français)</a></li>
            <li><a href="public/assets/forms/Hydro Quebec Form (English).jpg">7.Hydro Quebec Form (English)</a></li>
            <li><a href="public/assets/forms/Hydro Quebec Formulaire (Français).jpg">8.Hydro Quebec Formulaire (Français)</a></li>
	    <li><a href="public/assets/forms/Co signer Document (English).jpg">9.Co signer Document (English)</a></li>
	    <li><a href="public/assets/forms/Caution du Bail (Français).jpg">10.Caution du Bail (Français)</a></li>
	    <li><a href="public/assets/forms/Authorisation to communicate by Email (English).jpg">11.Authorisation to communicate by Email (English)</a></li>
            <li><a href="public/assets/forms/Autorisation de communiquer par courriel (Français).jpg">12.Autorisation de communiquer par courriel (Français)</a></li>
          </ul>
        </li>
	<% if (isAdmin) { %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Users<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="users">List of Users</a></li>
            <li><a href="signup">Create New User</a></li>
          </ul>
        </li>
        <li><a href="/<%= req.params.home_id %>/new">New</a></li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
