<%- include('../../partials/head') %>
<%- include('../../partials/navbar') %>
<div class="container text-center p-4">
    
    <a href="/fobs/">« Go back</a>
    <a class="btn btn-success" href="/fobs/new-rental">
        New Rental
    </a> 
    
    <h2>Active Rentals</h2>

    <%- include('../history-log/list') %>
</div>
<%- include('../../partials/footer') %>
