<%- include('../../partials/head') %>
<%- include('../../partials/navbar') %>
<div class="container text-center p-4">
	<h2>New Rental</h2>
	<a href='/fobs'>Fobs</a>
    
    <div class="alert alert-info">
        <a href="/fobs/new-tenant?redirect_to_after_post=/fobs/new-rental">To add a new tenant please click here.</a>
    </div>
    
    <%- include('../forms/history-log-item') %>
</div>
<%- include('../../partials/footer') %>
