<%- include('../../partials/head') %>
<%- include('../../partials/navbar') %>
<div class="container text-center p-4">
	<h2>New Rental</h2>
	<a href='/fobs'>Fobs</a>
    
    <div class="alert alert-info">
        If the tenant is new, please <a href="/fobs/new-tenant?redirect_to_after_post=/fobs/new-rental">click here to add the new tenant</a>. After that, you will be redirected to this page again.
    </div>
    
    <%- include('../forms/history-log-item') %>
</div>
<%- include('../../partials/footer') %>
