<% include('partials/head') %>
<% include('partials/navbar') %>

<div class="container text-center">
  <div class="jumbotron center">
    <h1>RevRentals List</h1>      
     <div class="container">
      <a style= "margin-top: 25px" href="login" class="btn btn-primary btn-lg" role="button">Login</a>
    </div>
  </div>
</div>
<% include('partials/footer') %>
