<%- include('partials/head') %>

<form action="/signup" method="post" style="border:5px solid #330000">
  <div class="container">
    <h2>Sign Up</h2>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="first_name"><b>First name</b></label>
    <input type="text" placeholder="Enter First name" name="first_name" required>

    <label for="last_name"><b>Last name</b></label>
    <input type="text" placeholder="Enter Last name" name="last_name" required>



    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="username" required>


    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <label for="password2"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="password2" required>
     <button class="btn btn-secondary" id="generate-pwd">Generate a Strong Password</button>
    <script>
      document.querySelector("#generate-pwd").onclick = function (e) {
       e.preventDefault()
       var pwd = Math.random().toString(36).slice(2);
       var $pwd = document.querySelector("[name='password']")
       var $pwd2 = document.querySelector("[name='password2']")
       $pwd.value = $pwd2.value = pwd
       $pwd.setAttribute("type", "text")
       $pwd2.setAttribute("type", "text")
      }
    </script>



   <div class="form-group">
      <label for="sel1">Permission</label>
      <select class="form-control" style=" background-color: #ddd;" name="type">
        <option value="0">Agent</option>
        <option class="form-control" value="1">Admin</option>
        <option class="form-control" value="2">Super Admin</option>
      </select>
    </div>

<!--
    <label>
      <input type="checkbox" name="buildings[]" value="pl" style="margin-bottom:15px">Les Pavillons LaSalle
    </label>
    <label>
      <input type="checkbox" name="buildings[]" value="lt" style="margin-bottom:15px">Lev-Tov
    </label><br>

    <label>
      <input type="checkbox" name="is_admin" style="margin-bottom:15px"> Mark if admin
    </label>

    <label>
      <input type="checkbox" name="super_admin" style="margin-bottom:15px"> Mark if Super admin
    </label>
-->


    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>

<%- include('partials/footer') %>
