<%- include('partials/head') %>
<div class="container text-center">
   <h4>Delete upload confirmation</h4>
     <p>Are you really sure that you want to delete this item?</p>
  <form method="post">
    <a href="/<%= req.params.home_id %>" class="btn btn-secondary">Cancel</a>
    <input type="submit" class="btn btn-danger" value="Yes, delete">
  </form>
</div>
<%- include('partials/footer') %>
