@import url(//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css);
@import url(https://use.fontawesome.com/releases/v5.7.0/css/all.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);

body {
color:#666;
list-style-type:none;
font-family:Arial, Helvetica, sans-serif;
background-color:#FFFAFA;
background-repeat:no-repeat;
background-attachment:fixed;
background-size:cover;
}

.jumbotron {
background:#F5F5F5;
width:30%;
position:fixed;
text-align:center;
height:20px;
color:#4080bf;
font-family:Montserrat, sans-serif;
padding:70px;
}

.container {
width:100%;
margin:0;
padding:30px;
}

table {
border-collapse:collapse;
width:70%;
background-color:#FFF;
border:solid;
margin:20px auto;
}

th,td {
text-align:left;
border-bottom:1px solid #ddd;
padding:8px;
}

tr:hover {
background-color:#f5f5f5;
}

.navbar-brand img {
height:30px;
display:inline-block;
margin-left:10px;
}

.dropbtn {
color:#FFF;
text-align:center;
text-decoration:none;
overflow:hidden;
display:inline-block;
padding:14px 16px;
}

#sps {
position:relative;
display:inline-block;
padding-left:20px;
}

.dropdown-content {
display:none;
background-color:#f5f5f5;
min-width:160px;
box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
z-index:1;
padding:12px 16px;
}

.navbar-left img {
height:50px;
width:150px;
display:inline-block;
margin:0;
}

#sps:hover .dropdown-content {
display:block;
}

.navbar-nav li a:hover {
color:#222!important;
}


table.dataTable.no-footer {
border:none!important;
}

.table {
font-family:"helvetica neue";
padding:0;
}

.fa {
font-size:10px;
width:10px;
text-align:center;
text-decoration:none;
}

.fa:hover {
opacity:0.7;
}

td img.img-rounded {
max-width:100px;
}

.form-inline .form-group {
display:inline-block;
margin-bottom:0;
vertical-align:0;
}


#myNavbar {
float:left;
}

.col-md-1 {
position:relative;
min-height:1px;
padding-right:15px;
padding-left:1px;
}

input[type=text],input[type=password] {
background:#f1f1f1;
width:100%;
display:inline-block;
border:1px solid #ccc;
box-sizing:border-box;
margin:8px 0;
padding:12px 20px;
}

input[type=text]:focus,input[type=password]:focus {
background-color:#ddd;
outline:none;
}

hr {
border:1px solid #f1f1f1;
margin-bottom:25px;
}


.form-control[type=text],input[type=password] {
width:100%;
display:inline-block;
border:none;
background:#f1f1f1;
outline:none;
margin:0 0 5px;
padding:10px;
}

.cancelbtn {
width:auto;
background-color:#f44336;
margin:10px;
padding:10px 18px;
}

.cancelbtn,.signupbtn {
float:left;
width:30%;
padding:10px;
}

.clearfix::after {
content:"";
clear:both;
display:table;
}

.navbar {
padding-top:0;
min-height:33px;
padding-bottom:0;
border:0;
border-radius:0;
font-size:15px;
letter-spacing:1px;
font-color:#222;
font-family:Lato, Arial, Helvetica, sans-serif;
background-color:0;
}

.hide-md-lg {
display:block;
text-align:center;
}

h1 {
font-family:"Lucida Console", Times, serif;
text-align:center;
color:#FFF;
}

h5 {
text-align:center;
}

#social {
width:100%;
background-color:#00004d;
overflow:auto;
margin:0;
padding:0;
}

nav#social {
padding:5px;
}

.far {
border-right:1px solid #FFF;
margin-right:11px;
border-left:1px solid #FFF;
padding:0 10px;
}

#bor {
border-left:: 2px solid #FFF;
}

td:nth-of-type(4) {
word-break:break-word;
}

th:nth-of-type(6) {
width:50px;
}

th:last-of-type {
width:20px;
}

span.psw {
float:right;
padding-top:16px;
}

.modal {
display:none;
position:fixed;
z-index:1;
left:0;
top:0;
width:100%;
height:100%;
overflow:auto;
background-color:rgba(0,0,0,0.4);
padding-top:60px;
}

.modal-content {
background-color:#fefefe;
border:1px solid #888;
width:50%;
margin:5% auto 15%;
}

.close {
position:absolute;
right:25px;
top:0;
color:#000;
font-size:35px;
font-weight:700;
}

.close:hover,.close:focus {
color:red;
cursor:pointer;
}

.animate {
-webkit-animation:animatezoom .6s;
animation:animatezoom .6s;
}

to {
-webkit-transform:scale(1);
transform:scale(1);
}

h4,h2 {
color:#4881ea;
text-align:center;
}

.fa-facebook,.fa-twitter,.fa-linkedin,.fa-instagram {
color:#FFF;
}

th:nth-of-type(2),th:nth-of-type(3) {
width:40px;
}

@media screen and max-width 300px{
span.psw {
display:block;
float:none;
}

.cancelbtn,.signupbtn,.cancelbtn {
width:100%;
}
}

.p-4 {
  padding: 40px;
}


img {
max-width: 100%;
}
