<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <form class="form-horizontal" method="POST">
            <fieldset>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="number">Apartment number</label>  
              <div class="col-md-5">
              <input id="number" name="number" type="text" placeholder="Number" class="form-control input-md" required="">
              <span class="help-block">Enter the apartment number.</span>  
              </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
              <div class="col-md-12">
                <button class="btn btn-success">Save</button>
                <a href="/fobs/buildings/<%= building_item.id %>/apartments" class="btn btn-warning">Cancel</a>
              </div>
            </div>

            </fieldset>
        </form>
    </div>
</div>
