<form class="form-horizontal" method="POST">
<fieldset>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="address">Building Address</label>
  <div class="col-md-4">
    <textarea placeholder="Building address..." class="form-control" id="address" name="address"><%= item.address %></textarea>
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-8">
    <button class="btn btn-success">Save</button>
    <a href="/fobs/buildings" class="btn btn-warning">Cancel</a>
  </div>
</div>

</fieldset>
</form>
