<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<div class="container text-center p-4">
	<h2>Fobs</h2>
	<a class="btn btn-default" href='/fobs/buildings'>Buildings</a>
	<a class="btn btn-default" href='/fobs/history-log'>History Log</a>
</div>
<%- include('../partials/footer') %>
