<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<div class="container text-center p-4">
	<h2>Fobs</h2>
	<a class="btn btn-default" href='/fobs/buildings'>Buildings</a>
    <a class="btn btn-default" href='/fobs/tenants'>Tenants</a>
	<a class="btn btn-default" href='/fobs/history-log'>History Log</a>
    <a class="btn btn-default" href='/fobs/rentals'>Rentals</a>
    <a class="btn btn-primary" href='/fobs/new-rental'>New Rental</a>
</div>
<%- include('../partials/footer') %>
