<%- include('../../partials/head') %>
<%- include('../../partials/navbar') %>
<div class="container text-center p-4">
    <h2>Edit History Log Item</h2>
    <%- include('../forms/history-log-item') %>
</div>
<%- include('../../partials/footer') %>
