<%- include('../../partials/head') %>
<%- include('../../partials/navbar') %>
<div class="container text-center p-4">
    <h2>Delete Building</h2>
    <p>Are you really sure that you want to delete this building?</p>
    <form method="post">
        <a href="/fobs" class="btn btn-secondary">Cancel</a>
        <input type="submit" class="btn btn-danger" value="Yes, delete">
    </form>
</div>
<%- include('../../partials/footer') %>
