<%- include('../../partials/head') %>
<%- include('../../partials/navbar') %>
<div class="container text-center p-4">
    <h2>New Building</h2>
    <%- include('../forms/building') %>
</div>
<%- include('../../partials/footer') %>
